<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css\style.css">
    </head>
    <body style="background-color:rgb(77, 223, 84);">
        
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Contact information available here contact any time</h4>
        <p><h3>Thanks for contacting us, your response will beconsider your</h3></p>
        <hr>
        <p class="mb-0">if you want to refere more information click home</p>
      </div>
<center>
    <a href="/index" class="btn btn-primary">HOME</a>
    <a href="/index" class="btn btn-success">SUBMIT</a>
    

</center>  
</body> 
</html>