{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Successfull</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body style="background-color:rgb(77, 223, 84);">
    <div class="container" align="center">
         <div class="jumbotron">
             <p>Thaks for purchesing with Farmer direclty,your order will be delivered within 5 hrs.We will give our best to take care of your Health in This Covid
                 Stay home and stay safe..... 
             </p>
         </div>
    </div>
    <center>
        <a href="/index" class="btn btn-primary">HOME</a>
        <a href="/index" class="btn btn-success">SUBMIT</a>
    </center>

</bodystyle>
